{% extends 'base.html.twig' %}

{% block title %}Realisateur index{% endblock %}

{% block body %}
    <div style="position: absolute; top: 0; right: 0; margin: 1em;">
        <a href="{{ path('app_logout') }}" style="text-decoration: none; font-size: 16px;">Logout</a>
    </div>
    
    <h1>Realisateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Origine</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for realisateur in realisateurs %}
            <tr>
                <td>{{ realisateur.Nom }}</td>
                <td>{{ realisateur.Prenom }}</td>
                <td>{{ realisateur.Origine }}</td>
                <td>
                    <a href="{{ path('app_realisateur_show', {'id': realisateur.id}) }}">show</a>
                    <a href="{{ path('app_realisateur_edit', {'id': realisateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_realisateur_new') }}"><button>Ajouter un nouveau realisateur</button></a>
    <br>
    <a href="{{ path('app_home_page') }}">Retour à la page d'accueil</a>
{% endblock %}
