{% extends 'base.html.twig' %}

{% block title %}Realisateur{% endblock %}

{% block body %}
    <div style="position: absolute; top: 0; right: 0; margin: 1em;">
        <a href="{{ path('app_logout') }}" style="text-decoration: none; font-size: 16px;">Se déconnecter</a>
    </div>
    
    <h1>Realisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th style="text-align: left; padding: 0.2em;">Nom : </th>
                <td style="text-align: left; padding: 0.2em;">{{ realisateur.Nom }}</td>
            </tr>
            <tr>
                <th style="text-align: left; padding: 0.2em;">Prenom : </th>
                <td style="text-align: left; padding: 0.2em;">{{ realisateur.Prenom }}</td>
            </tr>
            <tr>
                <th style="text-align: left; padding: 0.2em;">Origine : </th>
                <td style="text-align: left; padding: 0.2em;">{{ realisateur.Origine }}</td>
            </tr>
        </tbody>
    </table>

    <div style="display: flex;">
        <a href="{{ path('app_realisateur_edit', {'id': realisateur.id}) }}"><button style="font-size: 1.2em; margin-bottom: 0.2em; margin-top: 1em;">Editer</button></a>
        {{ include('realisateur/_delete_form.html.twig') }}
    </div>

    <a href="{{ path('app_realisateur_index') }}" style="font-size: 0.8em; color:black;">Retour à la liste</a>
{% endblock %}
